In [27]:
expense=[2200,2350,2600,2130,2190]

In [17]:
print(expense)

[2200, 2350, 2600, 2130, 2190]

1. In Feb, how many dollars you spent extra compare to January?

In [3]:
feb_extra= expense[1]-expense[0]
print(f"The extra Money spent in Feb than Jan is {feb_extra} Dollars")

The extra Money spent in Feb than Jan is 150 Dollars

2. Find out your total expense in first quarter (first three months) of the year.

In [4]:
total_exp_f3=expense[0]+expense[1]+expense[2]
print(total_exp_f3)

7150

3. Find out if you spent exactly 2000 dollars in any month

In [6]:
if 2000 in expense:
    print("exact 2000 was spent in any month")
else:
    print("exact 2000 was not spent in any month")

exact 2000 was not spent in any month

4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [29]:
expense.append(1980)

In [30]:
print(expense)

[2200, 2350, 2600, 2130, 2190, 1980]

5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list based on this

In [31]:
expense[3] = expense[3] - 200

In [32]:
expense

[2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.

In [41]:
heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list

In [42]:
print(len(heros))

5

2. Add 'black panther' at the end of this list

In [43]:
heros.append('black panther')

In [44]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'

In [45]:
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [48]:
heros.insert(3,'black panther')

In [49]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.

In [50]:
heros[1:3]=['doctor strange']

In [52]:
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [54]:
dir()

['In',
 'Out',
 '_',
 '_19',
 '_21',
 '_25',
 '_32',
 '_36',
 '_40',
 '_44',
 '_45',
 '_49',
 '_52',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_pydevd_bundle',
 'exit',
 'expense',
 'feb_extra',
 'get_ipython',
 'heros',
 'i',
 'open',
 'pydev_jupyter_vars',
 'quit',
 'remove_imported_pydev_package',
 'sys',
 'total_exp_f3']

In [59]:
heros.sort(reverse=False, key=None)
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [69]:
odd_num=[]
n=int(input("enter a number"))
for i in range(1,n+1):
    if i %2 != 0 :
        odd_num.append(i)

print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17]

''

6.Sum Square Difference

approach   1

In [72]:
i =1
total=0
total_2=0
for i in range(1,11):
    total= total+ (i*i)
    total_2= total_2+i

#print(total)
#print(total_2**2)
print(total_2**2 - total)

2640

approach 2

In [89]:
def sum_sq_diff(n: int) -> int:
    total_1 = 0
    total_2 = 0
    for num in range(1, n):
        total_1 = total_1 + (num*num)
        total_2 = total_2 + num

    return (total_2**2) - total_1

In [90]:
sum_sq_diff(11)

2640

approach 3

In [107]:
def sum_sq_diff(n: int) -> int:
    sum_of_squares = (n * (n + 1) * (2 * n + 1)) // 6
    square_of_sum = ((n * (n + 1)) // 2) ** 2
    return square_of_sum - sum_of_squares

In [108]:
sum_sq_diff(10)

2640

Problem 1 Multiples of 3 or 5

approach 1

In [113]:
def sum_3_5(n: int) -> int:
    total = 0
    for n in range(3,n):
        if n % 3 == 0 or n % 5 == 0:
            total += n



    return total

In [115]:
sum_3_5(1000)

233168

Approach 2

In [116]:
def sum_3_5(n: int) -> int:
    def sum_of_multiples(m: int) -> int:
        p = (n - 1) // m  # Number of terms
        return m * p * (p + 1) // 2  # Sum formula

    return sum_of_multiples(3) + sum_of_multiples(5) - sum_of_multiples(15)  # Subtract 15 to avoid double counting

# Example
print(sum_3_5(10))  # Output: 23

23

Problem 2 Even Fibonacci Numbers

In [ ]:
def fib(n: int) -> int:
    a,b=1,2
    fibo=[]
    n=input("enter a number")
    while i< (n+1):
        var = fibo.append



    return

In [120]:
def sum_even_fibonacci(limit: int) -> int:
    a, b = 1, 2  # First two Fibonacci numbers
    total = 0

    while a <= limit:
        if a % 2 == 0:
            total += a
        a, b = b, a + b  # Move to the next Fibonacci numbers

    return total

In [126]:
print(sum_even_fibonacci(10))

44

In [128]:
def sum_even_fibonacci(limit: int) -> int:
    a, b = 1, 2  # First two Fibonacci numbers
    total = 0

    while a <= limit:
        if a % 2 == 0:
            total += a
        a, b = b, a + b  # Move to the next Fibonacci numbers

    return total

# Example usage
print(sum_even_fibonacci(4000000))  # Output: 4613732

4613732

3	Largest Prime Factor

In [ ]:
def prime_factors(n):
    """Returns all the prime factors of a positive integer"""
    factors = []

    # Step 1: Remove all factors of 2
    while n % 2 == 0:
        factors.append(2)
        n //= 2  # Integer division to avoid floats

    # Step 2: Check odd numbers from 3 to sqrt(n)
    d = 3
    while d * d <= n:
        while n % d == 0:
            factors.append(d)
            n //= d
        d += 2  # Skip even numbers

    # Step 3: If n is still greater than 1, it's prime
    if n > 1:
        factors.append(n)

    return factors

# Example usage
num = 600851475143
print(prime_factors(num))  # Output: [71, 839, 1471, 6857]